@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout_quanchi.cshtml";
}

<div class="container block-khtaikhoan">
    <div class="row">
        <div class="col-lg-12">
            <p class="success">@TempData["thongbao"]</p>
            <img src="@Url.Content("~/Images/WebImg/drug.jpg")" alt="Success" />
        </div>
    </div>
</div>

