.navbar {
	.nav-logo {
		max-height: 60px;
    	max-width: 120px;
	}
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 12px;
}