/* max-width:1336px; */
.ftco-section {
    background-color: #f2f2f2;
    padding-top: 3em;
}

    .ftco-section .container {
        background-color: #fff;
    }

    .ftco-section .hero-bread .container {
        background: transparent;
    }

table thead th {
    text-align: center;
    font-weight: bold;
    vertical-align: middle !important;
}

.main-container {
    padding-bottom: 35px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.navbar .nav-logo {
    max-height: 60px;
    max-width: 120px;
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 12px;
}

.ftco-footer {
    background: #fff;
}

    .ftco-footer .mb-5 {
        margin-bottom: 0rem !important;
    }

    .ftco-footer .ftco-footer-widget .ftco-heading-2 {
        font-size: 20px;
        margin-top: 10px;
    }

    .ftco-footer .ftco-footer-widget ul li {
        padding-top: 0 !important;
        padding-bottom: 10px !important;
        position: relative;
    }

        .ftco-footer .ftco-footer-widget ul li i {
            position: absolute;
            top: 5px;
        }

        .ftco-footer .ftco-footer-widget ul li .text {
            padding-left: 25px;
            display: block;
        }

.carousel-multi-item {
    margin-bottom: 10px;
    padding: 10px;
    padding-top: 15px;
}

    .carousel-multi-item .carousel-inner .carousel-item .card {
        height: 100%;
        padding: 5px;
    }

        .carousel-multi-item .carousel-inner .carousel-item .card .card-body {
            padding: 0;
            position: relative;
        }

            .carousel-multi-item .carousel-inner .carousel-item .card .card-body .card-title {
                font-size: 11pt;
                margin: 0;
                position: absolute;
                bottom: 0px;
                width: 100%;
                background: rgba(0, 0, 0, 0.6);
                padding: 3px;
                color: #fff;
            }

    .carousel-multi-item .carousel-indicators {
        bottom: -35px;
    }

        .carousel-multi-item .carousel-indicators li {
            background: transparent;
            width: 13px;
        }

            .carousel-multi-item .carousel-indicators li:after {
                display: none;
            }

            .carousel-multi-item .carousel-indicators li:before {
                background-color: #82ae46;
                height: 5px;
                top: -5px;
            }

.jc-bs3-row {
    position: relative;
}

    .jc-bs3-row .jconfirm-box-container {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }

#giohang input[type="number"] {
    max-width: 100px;
    text-align: right;
}

.ftco-section {
    padding: 1em 0;
}

.list-product .col-md-4 {
    margin-bottom: 15px;
}

.list-product .product {
    margin-bottom: 0;
    height: 100%;
    border-color: #d9d9d9;
}

    .list-product .product .img-prod {
        padding: 10px;
    }

        .list-product .product .img-prod img {
            width: 100%;
        }

h3.heading {
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 1px double #000;
}

.box-news {
    border: 1px solid #d9d9d9;
    height: 100%;
}

    .box-news .panel-heading {
        font-size: 17pt;
        padding-left: 10px;
        color: #82ae46;
    }

    .box-news .panel-body {
        padding: 10px;
    }

        .box-news .panel-body .news-item {
            position: relative;
        }

            .box-news .panel-body .news-item img {
                width: 100%;
            }

            .box-news .panel-body .news-item .title {
                text-align: justify;
                font-size: 16px;
                margin: 0;
            }

                .box-news .panel-body .news-item .title a {
                    color: #000;
                    padding-left: 15px;
                }

                .box-news .panel-body .news-item .title i {
                    font-size: 8px;
                    color: #82ae46;
                    font-size: 8px;
                    position: absolute;
                    left: 15px;
                    top: 6px;
                }

            .box-news .panel-body .news-item:not(:last-child):after {
                position: absolute;
                border-bottom: 1px dotted #dee2e6;
                left: 15px;
                right: 15px;
                bottom: -10px;
                content: "";
            }

            .box-news .panel-body .news-item + .news-item {
                margin-top: 15px;
            }

            .box-news .panel-body .news-item .col-sm-8 {
                padding-left: 0;
            }

                .box-news .panel-body .news-item .col-sm-8 .title a {
                    padding-left: 0;
                }

        .box-news .panel-body p {
            text-align: justify;
            color: #000;
        }

.news img {
    max-width: 100%;
}

.news .news-content p {
    text-align: justify;
}

.box-cate .news-item {
    position: relative;
}

    .box-cate .news-item img {
        width: 100%;
    }

    .box-cate .news-item .title {
        text-align: justify;
        font-size: 16px;
        margin: 0;
    }

        .box-cate .news-item .title a {
            color: #82ae46;
            font-size: 15pt;
            padding-left: 15px;
        }

        .box-cate .news-item .title i {
            font-size: 8px;
            color: #82ae46;
            font-size: 8px;
            position: absolute;
            left: 15px;
            top: 10px;
        }

    .box-cate .news-item:not(:last-child):after {
        position: absolute;
        border-bottom: 1px dotted #dee2e6;
        left: 15px;
        right: 15px;
        bottom: -10px;
        content: "";
    }

    .box-cate .news-item + .news-item {
        margin-top: 15px;
    }

    .box-cate .news-item .col-md-9 {
        padding-left: 0;
    }

        .box-cate .news-item .col-md-9 .title a {
            padding-left: 0;
        }

.box-cate p {
    text-align: justify;
    color: #000;
    margin: 0;
}

ul.pagination {
    display: inline-flex;
    margin-top: 15px;
}

    ul.pagination li {
        cursor: pointer;
    }

        ul.pagination li a {
            padding: 0.5rem 0.75rem;
            background-color: #fff;
            border: 1px solid #ddd;
            color: #636c72;
        }

        ul.pagination li:hover a {
            background-color: #005e99;
            border-color: #005e99;
            color: #fff;
        }

        ul.pagination li.active a {
            background: #82ae46;
            border-color: #82ae46;
            color: #fff;
        }

        ul.pagination li.active:hover {
            cursor: default;
        }

            ul.pagination li.active:hover a {
                color: #fff;
            }

.jf-sanpham tr td.anhdaidien img {
    width: 100%;
    max-width: 100px;
}

.product-details .img-preview {
    padding-top: 30px;
    text-align: center;
}

.product-details .price .price-dc {
    font-size: 20px;
    text-decoration: line-through;
    color: #b3b3b3;
}

.product-details .price .price-sale {
    font-size: 20px;
    color: #82ae46;
}

.product-details textarea {
    width: 100%;
    background: transparent;
    border: none;
    resize: none;
    text-align: justify;
}

    .product-details textarea:focus {
        outline: none;
    }

.thietlapwebsite {
    padding: 15px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
